/* Mixins & variables (start)*/
.menu a {
  border: 2px solid rgba(71, 81, 88, 0);
  font-size: 14px;
  font-weight: bold;
  padding: 10px 18px 10px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu a:hover {
  border-color: #4BCAFF;
  color: #4BCAFF;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* Mixins & variables (end)*/
body {
  font-family: "Segoe UI", "Open Sans", sans-serif;
}
/* Logo & Navbar */
header {
  background-color: rgba(70, 80, 88, 0.5);
  position: fixed;
  width: 100%;
  z-index: 100;
}
.logo {
  margin: 65px 0px 50px 0px;
}
.main_menu {
  margin: 58px 0px 58px 18px;
}
.main_menu a {
  border: 2px solid rgba(71, 81, 88, 0);
  font-size: 14px;
  font-weight: bold;
  padding: 10px 18px 10px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main_menu a:hover {
  border-color: #4BCAFF;
  color: #4BCAFF;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main_menu a {
  color: #EDEEEE;
}
/* FIRST Section (Under Logo & Navbar) */
.first_photo {
  background-image: url(../images/bg_grounds/01_bg_photo.jpg);
  -webkit-background-size: cover;
          background-size: cover;
}
h2 {
  color: #FFFFFF;
  font-size: 42px;
  font-weight: 300;
  line-height: 60px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
h2 span {
  background-color: rgba(70, 80, 88, 0.5);
  padding: 0px 20px;
}
.theme {
  padding-bottom: 260px;
  padding-top: 400px;
}
/* SERVICES Section */
.blue_bg {
  background-color: #4BCAFF;
}
.white_header {
  color: #FFFFFF;
  margin-bottom: 30px;
}
.white_header span {
  border-color: #FFFFFF;
  color: #FFFFFF;
}
h3 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 0;
  padding-top: 80px;
  text-transform: uppercase;
}
h3 span {
  border-bottom: 1px solid;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
h4 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
  padding-top: 24px;
  text-transform: uppercase;
}
p {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 70px;
}
/* PORTFOLIO Section */
.filter_button {
  background-color: #FFFFFF;
  border: 2px solid rgba(71, 81, 88, 0);
  color: #515F67;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 18px 10px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 86px 0px 80px 6px;
}
.filter_button:hover {
  border-color: #4BCAFF;
  color: #4BCAFF;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.filter_button:focus,
.filter_button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
.black_header {
  color: #515F67;
}
.black_header span {
  border-color: #515F67;
  color: #515F67;
}
.block_img {
  margin-bottom: 32px;
}
/* Filter for div elements (start)*/
.port_image {
  width: 100%;
}
.each_item {
  overflow: hidden;
  position: relative;
}
.each_item:hover .capture {
  left: 0px;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.capture {
  background: rgba(71, 81, 88, 0.5);
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0px;
  -webkit-transition: all 0.3s linear 0.1s;
  -o-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
  width: 100%;
}
.capture img {
  display: block;
  margin: 42% auto;
  width: 15%;
}
/* Filter for div elements (end)*/
.container_bottom {
  margin-bottom: 50px;
}
/* JUST DEFAULT Section */
.default_section {
  background-color: #515F67;
}
.default_section .row {
  padding-bottom: 78px;
}
.just button {
  background-color: transparent;
  border: 2px solid #353F46;
  color: #353F46;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 50px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.just button:hover {
  border-color: #4BCAFF;
  color: #4BCAFF;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.just button:focus,
.just button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
.just p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 30px;
}
video {
  margin-top: 100px;
}
video:focus,
video:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
/* Popup styles (start) */
.popup_wrapper {
  background-color: rgba(70, 80, 88, 0.8);
  display: none;
  height: 100%;
  left: 0;
  padding-top: 200px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
}
.popup {
  background-color: #4BCAFF;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  font-family: "Myriad Pro", "Times New Roman", sans-serif;
  margin: 0 auto;
  max-width: 400px;
  padding: 30px;
  position: relative;
  z-index: 103;
}
.popup::after {
  background-color: #4BCAFF;
  -webkit-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
  content: '';
  height: 50px;
  left: 25%;
  margin: -25px;
  position: absolute;
  top: 100%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 50px;
  z-index: 102;
}
.popup h5 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.popup p {
  font-size: 20px;
  padding: 0px;
  text-transform: uppercase;
}
.popup p span {
  color: #515F67;
  text-transform: lowercase;
}
.popup i {
  background-color: #4BCAFF;
  color: #515F67;
  font-size: 60px;
  margin-left: 10px;
}
.popup i:hover {
  color: #FFFFFF;
}
.break {
  color: #FFFFFF;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 16px;
  top: 10px;
}
.break:hover {
  color: #515F67;
}
/* Popup styles (end) */
/* TWITTER Section */
.fa-twitter {
  color: #FFFFFF;
  font-size: 30px;
  padding-top: 80px;
}
.myriad {
  font-family: "Myriad Pro", "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.myriad a {
  color: #FFFFFF;
  font-family: "Segoe UI", "Open Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
}
/* WHO IS JOHN DOE? Section */
.second_photo {
  background-image: url(../images/bg_grounds/02_bg_photo.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  padding-bottom: 170px;
}
.second_photo h3 {
  padding-top: 100px;
}
.second_photo p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 40px;
}
.second_photo i {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 30px;
  margin: 10px 18px 0px 0px;
  padding: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.second_photo i:hover {
  border-color: #4BCAFF;
  color: #4BCAFF;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* TESTIMONIALS Section */
p.bitter {
  color: #515F67;
  font-family: 'Bitter', serif;
  font-size: 72px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 60px;
}
blockquote {
  color: #515F67;
  font-size: 28px;
  font-weight: 300;
  line-height: 50px;
}
blockquote footer {
  color: #4BCAFF;
  font-size: 14px;
  font-weight: bold;
}
/* FORM Section */
.third_photo {
  background-image: url(../images/bg_grounds/03_bg_photo.jpg);
  -webkit-background-size: cover;
          background-size: cover;
}
form {
  padding-bottom: 80px;
}
form p {
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  padding-bottom: 40px;
  padding-top: 20px;
}
.frm_group {
  margin-bottom: 35px;
}
.frm_control {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-family: 'Bitter', serif;
  font-size: 18px;
  height: 54px;
  padding: 0px 16px;
  width: 100%;
}
.frm_control:focus,
.frm_control:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
textarea.frm_control {
  height: 216px;
}
label {
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.btn_submit {
  background-color: #4BCAFF;
  border: 2px solid #4BCAFF;
  color: #FFFFFF;
  font-weight: 600;
  padding: 25px 0;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 60%;
}
.btn_submit:hover {
  background-color: transparent;
  color: #4BCAFF;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* FOOTER Section */
.footer_bg {
  background-color: #353F47;
}
.footer_items {
  padding: 80px 0px 80px 0px;
}
.footer_items a {
  color: #606D75;
  font-size: 12px;
  font-weight: 500;
  padding: 0px 14px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer_items a:nth-child(1n+2) {
  border-left: 2px solid #606D75;
}
.footer_items a:hover {
  color: #4BCAFF;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer_items p {
  color: #606D75;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: right;
}
/* UP Button */
button#toTop {
  background-color: #515F67;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #4BCAFF;
  bottom: 18px;
  color: #FFFFFF;
  display: none;
  padding: 12px;
  position: fixed;
  right: 18px;
  z-index: 99;
}
button#toTop:focus,
button#toTop:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
/* Media Queries */
@media screen and (max-width: 1199px) {
  .main_menu a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 0px 10px;
    text-align: center;
    width: 20%;
  }
  .main_menu a:first-child {
    width: 16%;
  }
  .main_menu a:nth-child(4) {
    width: 22%;
  }
  h2 {
    font-size: 38px;
    line-height: 58px;
  }
  .filter_button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 76px 0px 60px 0px;
    padding: 10px 0px 10px;
    text-align: center;
  }
  .filter_button:nth-child(1) {
    width: 12%;
  }
  .filter_button:nth-child(2) {
    width: 28%;
  }
  .filter_button:nth-child(3) {
    width: 22%;
  }
  .filter_button:nth-child(4) {
    width: 16%;
  }
  .filter_button:nth-child(5) {
    width: 18%;
  }
}
@media screen and (max-width: 991px) {
  .logo {
    margin-bottom: 24px;
    margin-top: 42px;
  }
  .main_menu {
    margin-bottom: 36px;
    margin-top: 30px;
  }
  h2 {
    font-size: 28px;
    line-height: 46px;
  }
  .theme {
    padding-bottom: 160px;
    padding-top: 260px;
  }
  .white_header,
  .black_header {
    padding-top: 40px;
  }
  .filter_button {
    margin: 38px 0px 40px 0px;
  }
  .col-sm-6.block_img,
  .col-md-3.block_img {
    margin: 0px;
    padding: 10px;
  }
  .fa-twitter {
    padding-top: 42px;
  }
  p.bitter {
    padding-top: 20px;
  }
  form p:first-child {
    padding-bottom: 16px;
  }
  .btn_submit {
    width: 100%;
  }
  .footer_items {
    padding: 60px 0px 60px 0px;
  }
}
@media screen and (max-width: 767px) {
  .logo {
    display: block;
    margin: 16px auto 0px;
  }
  .main_menu {
    margin: 10px 0px 16px 0px;
  }
  h2 {
    font-size: 22px;
    line-height: 36px;
  }
  .theme {
    padding-bottom: 120px;
    padding-top: 210px;
  }
  h4 {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 12px;
  }
  p {
    padding-bottom: 20px;
  }
  .white_header,
  .black_header {
    font-size: 24px;
  }
  .white_header span,
  .black_header span {
    font-size: 24px;
  }
  .default_section .row {
    padding-bottom: 40px;
  }
  .just button {
    display: block;
    text-align: center;
    width: 100%;
  }
  .just p {
    padding-bottom: 10px;
  }
  video {
    margin-top: 40px;
  }
  .fa-twitter {
    padding-top: 42px;
  }
  .myriad {
    font-size: 20px;
  }
  .second_photo {
    padding-bottom: 100px;
  }
  .second_photo p {
    padding-bottom: 0px;
  }
  p.bitter {
    padding-top: 20px;
  }
  blockquote {
    font-size: 20px;
    line-height: 40px;
  }
  form {
    padding-bottom: 40px;
  }
  form p:first-child {
    padding-bottom: 0px;
  }
  .btn_submit {
    width: 100%;
  }
  .footer_items {
    padding: 40px 0px 40px 0px;
  }
}
@media screen and (max-width: 575px) {
  img.services {
    display: block;
    margin: 0 auto;
  }
  .services {
    text-align: center;
  }
  h4 {
    padding-bottom: 0px;
    padding-top: 10px;
  }
  p {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 450px) {
  .main_menu a {
    font-size: 12px;
  }
  .footer_items a {
    padding: 0px 12px;
  }
}
@media screen and (max-width: 420px) {
  .filter_button {
    font-size: 10px;
    margin: 16px 0px;
  }
  .popup {
    max-width: 300px;
    padding: 18px;
  }
  .popup::after {
    height: 40px;
    margin: -20px;
    width: 40px;
  }
  .popup h5 {
    font-size: 18px;
  }
  .popup p {
    font-size: 14px;
  }
  .popup i {
    font-size: 40px;
  }
  .break {
    right: 12px;
  }
}
@media screen and (max-width: 395px) {
  .second_photo i {
    font-size: 22px;
    padding: 12px;
  }
}
@media screen and (max-width: 380px) {
  .main_menu a {
    font-size: 10px;
    padding: 6px 0px;
  }
  .footer_items a,
  .footer_items p {
    font-size: 10px;
  }
}
@media screen and (max-width: 350px) {
  .footer_items a {
    padding: 0px 8px;
  }
}
@media screen and (max-width: 330px) {
  .second_photo i {
    margin: 10px 14px 0px 0px;
  }
}
